// Normally mainpage styles
.out
	background-color: $magenta
	min-width: 300px
.inner
	max-width: 980px
	padding: 20px 20px 0
	width: 100%
	margin: auto
.top
	position: relative
	text-align: center
	background: url(../img/top.jpg) no-repeat center top
	background-size: cover
	min-height: 640px
	.go-in
		margin-top: 20px
.top__in
	max-width: 1822px
	padding: 20px 20px 0
	width: 100%
	margin: auto
.top__h
	display: inline-block
	margin-bottom: 18px
	+hide-text
	+r(900)
		margin: 25px 0
	img
		width: 100%
.top__text
	color: #fff
	+helvetica-med
	font-size: 32px
	line-height: 56px
	+r(900)
		font-size: 28px
		line-height: 1.2
	+r(500)
		font-size: 22px
	h3
		+helvetica
	span
		font-size: 58px
		line-height: 56px
		text-transform: uppercase
		display: inline-block
		vertical-align: middle
		+r(900)
			font-size: 40px
		+r(500)
			font-size: 26px
	h1
		font-size: 56px
		line-height: 76px
		margin-top: 24px
		+r(900)
			font-size: 45px
			margin-top: 10px
			line-height: 1.2
		+r(680)
			font-size: 36px
			margin-top: 0
		+r(500)
			font-size: 30px
.slider
	.slick-arrow
		margin-top: -40px
		+r(800)
			margin-top: -17px
		&:before
			+hide-text
	.slick-prev
		+s(arrow-left)
		+r(800)
			+s(arrow-left-sm)
	.slick-next
		+s(arrow-right)
		+r(800)
			+s(arrow-right-sm)
.go-in
	padding: 22px 19px
	background-color: $dark
	border-radius: 3px
	margin: auto
	position: relative
	margin-top: 29px
	max-width: 624px
	.row
		font-size: 0
	[class^="col"],
	[class*="col"]
		display: inline-block
		vertical-align: top
	.col1 
		padding-right: 18px
		width: 81%
		+r(1024)
			width: 65%
		+r(450)
			width: 100%
			padding-right: 0
			margin-bottom: 10px
	.col2
		width: 19%
		+r(1024)
			width: 35%
		+r(450)
			width: 100%
	.btn 
		text-transform: uppercase
		background-color: $magenta
		width: 100%
.mail-form-wrp
	position: absolute
	right: 14px
.mail-form
	width: 200px
	height: 172px
	padding: 15px 10px 20px
	text-align: center
	background-color: #78125f
	border-radius: 5px
	z-index: 9900
	right: 14px
	opacity: 0
	&.is-active
		opacity: 1
		+tr(opacity .4s ease)
	.mail-form__top
		+proxima-regular
		font-size: 11px
		color: #fff
		text-align: center
		margin-bottom: 18px
	.input-text
		font-size: 13px
		+proxima-regular
		margin-bottom: 18px
	.btn
		background-color: #3d0122
		+proxima-bold
		width: 115px
.share-wrp
	position: relative
	overflow: hidden
	.time-b
		position: absolute
		top: 160px
		right: 100%
		+r(1100)
			display: block
			position: relative
			padding: 0 0 30px
			text-align: center
			top: auto
			right: auto
			margin-right: auto
		+r(700)
			padding: 15px 0
		+r(500)
			text-align: left
		.time-b__item
			+r(1100)
				display: inline-block
.share-bg1
	background: url(../img/background.jpg) no-repeat center
	position: relative
	&:before
		content: ' '
		display: block
		position: absolute
		border-style: solid
		border-width: 0px 1920px 90px 0
		border-color: transparent #8d0a61 transparent transparent
		z-index: 0
		top: 0
		left: 0
	&:after
		content: ' '
		display: block
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-width: 90px 0 0px 1920px
		border-color: transparent transparent transparent #8d0a61
		z-index: 0
		bottom: 0
		left: 0
.share-bg2
	background: url(../img/background2.jpg) no-repeat center
	position: relative
	&:before
		content: ' '
		display: block
		position: absolute
		border-style: solid
		border-width: 0px 1920px 90px 0
		border-color: transparent #8d0a61 transparent transparent
		z-index: 0
		top: 0
		left: 0
	&:after
		content: ' '
		display: block
		position: absolute
		width: 0
		height: 0
		border-style: solid
		border-width: 90px 0 0px 1920px
		border-color: transparent transparent transparent #8d0a61
		z-index: 0
		bottom: 0
		left: 0
.share
	position: relative
	z-index: 1
	.share__in
		max-width: 980px
		margin: auto
		padding: 50px 20px 80px
		+r(1100)
			padding: 20px 20px 100px
		&.share__in_no-space
			padding-bottom: 0
		&.share__in_tspac
			padding-top: 0
.logos-wrp
	position: relative
.logos
	max-width: 940px
	background-color: transparent
	border-radius: 10px
	margin: auto
	text-align: left
	padding: 37px 35px 37px
	text-align: center
	position: relative
	+r(900)
		padding: 30px 0px
	.title
		margin-bottom: 47px
		+r(900)
			margin-bottom: 20px
		+r(768)
			font-size: 26px
		+r(600)
			font-size: 22px
		+r(500)
			font-size: 20px
.bottom
	position: relative
	.btn
		display: block
		margin: 173px auto 173px
		line-height: 70px
		+r(1024)
			margin: 100px auto
		+r(900)
			width: 160px
			height: 50px
			line-height: 50px
			font-size: 20px

@keyframes show 
	0%
		opacity: 0
	100%
		opacity: 1