.time-b
	display: inline-block
	font-size: 0
	.time-b__container
		+r(1100)
			margin: 0 -1%
	.time-b__item
		display: block
		text-align: center
		background-color: $dark
		width: 41px
		height: 88px
		background: url(../img/time-bg.png) no-repeat center
		line-height: 61px
		margin-bottom: 8px
		cursor: pointer
		position: relative
		+r(1100)
			margin: 0 1%
			width: 23%
			height: 40px
			line-height: 40px
			background: $dark 
		+r(700)
			height: 40px
			line-height: 40px
		+r(500)
			width: 31.3333%
			margin-bottom: 10px
		&:active
			top: 1px
		span 
			font-size: 12px
			color: #fff
			+bold
			display: inline-block
			+r(1100)
				font-size: 16px