<div class="footer">
    <div class="footer__container">
        <!--footer social/app-->
        <div class="footer__top">
            <div class="footer__top-content">
                <div class="footer__top-left">
                    <div class="footer-social">
                        <ul class="footer-social__list">
                            <li class="footer-social__item"><a href="https://www.facebook.com/modnaKasta"
                                                               class="footer-social__fb" target="_blank"
                                                               rel="nofollow"></a></li>
                            <li class="footer-social__item"><a href="https://twitter.com/modnaKasta"
                                                               class="footer-social__tw" target="_blank"
                                                               rel="nofollow"></a></li>
                            <li class="footer-social__item"><a href="https://plus.google.com/100307526778891613027"
                                                               class="footer-social__gg" target="_blank"
                                                               rel="nofollow"></a></li>
                            <li class="footer-social__item"><a href="https://www.youtube.com/user/modnakasta"
                                                               class="footer-social__ytb" target="_blank"
                                                               rel="nofollow"></a></li>
                            <li class="footer-social__item"><a href="https://vk.com/modnakasta"
                                                               class="footer-social__vk" target="_blank"
                                                               rel="nofollow"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__top-right">
                    <div class="footer-apps">
                        <span class="footer-apps__text">Наши приложения</span>
                        <a href="https://itunes.apple.com/ru/app/modnakasta/id547622923?mt=8" class="footer-apps__apple"
                           target="_blank" rel="nofollow"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.rebbix.modnakasta"
                           class="footer-apps__android" target="_blank" rel="nofollow"></a>
                    </div>
                </div>
            </div>
        </div>
        <!--end footer social/app-->

        <div class="footer__bottom-bg">
            <div class="footer__content container">
                <div class="footer__info">
                    <div class="footer__info-left">
                        <div class="footer__info-title">modnaKasta</div>
                        <ul class="footer__info-list">
                            <li class="footer__info-item"><a href="/support/contacts/" class="footer__info-link">Контакты</a>
                            </li>
                            <li class="footer__info-item"><a href="/support/aboutus/" class="footer__info-link">О
                                шопинг-клубе</a></li>
                            <li class="footer__info-item"><a href="/support/why_with_us/" class="footer__info-link">Почему
                                покупают у нас?</a></li>
                            <li class="footer__info-item"><a href="/support/brands/"
                                                             class="footer__info-link">Бренды</a></li>
                            <li class="footer__info-item"><a href="/support/we/" class="footer__info-link">Мы</a></li>
                            <li class="footer__info-item"><a href="http://job.modnakasta.ua" class="footer__info-link">Карьера</a>
                            </li>
                            <li class="footer__info-item"><a href="http://blog.modnakasta.ua" class="footer__info-link">Блог</a>
                            </li>
                            <li class="footer__info-item"><a href="/catalogs/" class="footer__info-link">Каталоги</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__info-right">
                        <div class="footer__info-title">Помощь</div>
                        <ul class="footer__info-list">
                            <li class="footer__info-item"><a href="/support/deliveries/" class="footer__info-link">Доставка</a>
                            </li>
                            <li class="footer__info-item"><a href="/support/payments/"
                                                             class="footer__info-link">Оплата</a></li>
                            <li class="footer__info-item"><a href="/support/returnpolicy/" class="footer__info-link">Возврат</a>
                            </li>
                            <li class="footer__info-item"><a href="/support/personal_account/"
                                                             class="footer__info-link">Персональный счет</a></li>
                            <li class="footer__info-item"><a href="/support/bonuses/"
                                                             class="footer__info-link">Бонусы</a></li>
                            <li class="footer__info-item"><a href="/support/faq/" class="footer__info-link">Вопросы-ответы</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end footer info -->

                <!-- our projects -->
                <div class="footer__projects">
                    <div class="footer__projects-title">Наши проекты</div>
                    <ul class="footer__projects-list">
                        <li class="footer__projects-item">
                            <span class="footer__shafa-icon"></span><a href="http://shafa.ua/"
                                                                       class="footer__projects-link"> Шафа</a>
                        </li>
                        <li class="footer__projects-item">
                            <span class="footer__shopium-icon"></span><a href="http://www.shopium.ua/"
                                                                         class="footer__projects-link" rel="nofollow">
                            Шопиум</a>
                        </li>
                        <li class="footer__projects-item">
                            <span class="footer__kasta-icon"></span><a href="http://kasta.ua/"
                                                                       class="footer__projects-link"> Kasta.ua</a>
                        </li>
                    </ul>
                </div>
                <!-- end our projects -->

                <!-- our partners -->
                <div class="footer__partners">
                    <div class="footer__partners-title">Наши партнеры </div>
                    <ul class="footer__partners-list">
                        <li class="footer__partners-item">
                            <span class="footer__np-icon"></span><a href="https://novaposhta.ua/ru"
                                                                    class="footer__partners-link" rel="nofollow">Нова
                            пошта</a>
                        </li>
                        <li class="footer__partners-item">
                            <span class="footer__wfp-icon"></span><a href="https://wayforpay.com/"
                                                                     class="footer__partners-link" rel="nofollow">WayForPay</a>
                        </li>
                    </ul>
                </div>
                <!-- end our partners -->
            </div>

            <div class="footer__bottom">
                <div class="footer__copyright">
                    <div class="cookies_warn" style="display: none !important;">
                        Мы используем куки для того, чтобы обеспечить Вам наилучший опыт взаимодействия с сайтом
                        modnaKasta. Перемещение по сайту означает, что Вы даете согласие на получение куки нашим
                        веб-сайтом
                        <a href="#" onclick="cookies_ok(); $('.cookies_warn').remove(); return false;"
                           class="btn cookies" style="right: 515px;">ОК</a>
                        <a target="_blank" href="/cookiepolicy/" class="btn cookies know_more">Узнать больше</a>
                    </div>
                    <p>© 2007 - 2015 ООО «Маркасон». Все права защищены.</p>
                </div>
            </div>
        </div>

    </div>
</div>