<div id="up" class="header">
    <div class="header_container">
        <div class="header-top">
            <div class="header-top-left"><a href="/" class="header-top_logo"></a></div>
            <div class="header-top_anon-right">
                <div class="header-top_telephone header-top_anon-tel">+38 (044) 355-55-55
                </div>
                <a href="/modnakarta/" target="_blank" class="header-top_karta">ModnaKarta</a>

                <a href="https://modnakasta.ua/support/payments/" class="header-top_item-drop">
                    <div class="header-top_help">Помощь</div>
                </a>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="header_bottom-container">
            <nav class="nav">
                <ul class="nav_content">
                    <li class="nav_item"><a href="/f/female/" class="nav_item-link">Женщинам</a>
                    </li>
                    <li class="nav_item"><a href="/f/male/" class="nav_item-link">Мужчинам</a>
                    </li>
                    <li class="nav_item"><a href="/f/child/" class="nav_item-link">Детям</a>
                    </li>
                    <li class="nav_item"><a href="/f/home/" class="nav_item-link">Дом</a>
                    </li>
                    <li class="nav_item"><a href="/f/foodandwine/" class="nav_item-link">Food&amp;Wine</a>
                    </li>
                    <li class="nav_item"><a href="/f/outlet/" class="nav_item-link">Последняя цена</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>