<div class="share-wrp">
	<!-- BEGIN mail-form -->
	//=include ../partials/right-form.html
	<!-- END mail-form -->
	<section class="share">
		<div class="share__in share__in_tspac ">
			<div class="logos-wrp">
				<div class="logos js-six">
					<div class="logos__top">
						<h2 class="title">Акции <span>стартуют</span></h2>
						<div class="date"><span>20</span> марта<p>в 06:00</p></div>
					</div>
					<img src="img/brands1.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twelve">
					<div class="logos__top">
						<h2 class="title">Акции <span>стартуют</span></h2>
						<div class="date"><span>20</span> марта <p>в 12:00</p></div>
					</div>
					<img src="img/brands2.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-sixteen">
					<div class="logos__top">
						<h2 class="title">Акции <span>стартуют</span></h2>
						<div class="date"><span>20</span> марта <p>в 16:00</p></div>
					</div>
					<img src="img/brands3.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twenty">
					<div class="logos__top">
						<h2 class="title">Акции <span>стартуют</span></h2>
						<div class="date"><span>20</span> марта <p>в 12:00</p></div>
					</div>
					<img src="img/brands4.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<img src="img/pic1.png" alt="" class="share-pic1">
	<img src="img/pic2.png" alt="" class="share-pic2">
</div>