<div class="share-wrp">
	<!-- BEGIN mail-form -->
	//=include ../partials/right-form.html
	<!-- END mail-form -->
	<section class="share">
		<div class="share__in share__in_tspac ">
			<div class="logos-wrp">
				<div class="logos js-six">
					<h2 class="title">Акции стартуют 17 марта в 06:00</h2>
					<img src="img/brands1.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share share-bg1">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twelve">
					<h2 class="title title_dark">Акции стартуют 17 марта в 12:00</h2>
					<img src="img/brands2.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-sixteen">
					<h2 class="title">Акции стартуют 17 марта в 16:00</h2>
					<img src="img/brands3.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="share share-bg2">
		<div class="share__in">
			<div class="logos-wrp">
				<div class="logos js-twenty">
					<h2 class="title title_dark">Акции стартуют 17 марта в 20:00</h2>
					<img src="img/brands4.png" alt="">
				</div>
				<div class="time-b js-time">
					<div class="time-b__container">
						<a href=".js-six" class="time-b__item"><span>6:00</span></a>
						<a href=".js-twelve" class="time-b__item"><span>12:00</span></a>
						<a href=".js-sixteen" class="time-b__item"><span>16:00</span></a>
						<a href=".js-twenty" class="time-b__item"><span>20:00</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>